table {
    text-align: left;
}
.search__wrapper {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.searchbar {
    height: 2rem;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
}

.btn {
    margin-top: 0 !important;
}

.css-b62m3t-container {
    width: 100%;
}