* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif; }

.table {
    table-layout: fixed;
}

.table td {
    text-align: center;
    vertical-align: middle;
}