* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    background-image: url("./images/pexels-pixabay-268415.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 80%;
    background-color: #D4F1F4;
    border-style: solid;
    border-bottom-width: 0px;
    border-color: #2F7DA4;
}

.title {
    width: 50%;
    font-size: 40px;
    color: #050A30;
}

.home__container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    /*background-color: #65DFF6;*/

}

.details__container {
    width: 50%;
    height: 450px;
    padding: 0 50px 0 50px;
    background-color: #96CEEA;
    border-style: solid;
    border-right-width: 0px;
    border-color: #2F7DA4;
    font-weight: bold;
    font-size: 25px;
    color: #000C66;
}

.category {
    width: 50%;
    height: 450px;
    background-color: #96CEEA;
    border-style: solid;
    border-color: #2F7DA4;
}

.category__check {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.form-check {
    width: 50% !important;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.form-check-input {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0px !important;
}

.btn {
    width: 100%;
    margin-top: 30px;
}

.next__btn {
    width: 20%;
    background: #6BACCC;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 60%;
}